<%= link_to edit_user_path(current_user), class: "info__a" do %>
    <span><%= user.following_users.count %></span>подписчиков
<% end %>
<%= link_to edit_user_path(current_user), class: "info__a" do %>
    <span><%= user.followed_users.count %></span>подписок
<% end %>