<main class="profile__edit">
    <section class="edit__nav">
        <ul class="edit__menu">
            <li class="menu__item active">
                <%= link_to "Редактировать профиль", edit_user_path(current_user), class: "item__link active" %>
            </li>
            <li class="menu__item">
                <%= link_to "Сменить данные аккаунта", edit_user_registration_path, class: "item__link" %>
            </li>
        </ul>
    </section>

    <%= render "users/form-edit" %>
</main>

<%= render "layouts/footer" %>