.comments__area {
  margin: 0;
  padding: 0 15px;
  color: #262626;
  font-size: 14px;
  line-height: 20px;
  max-height: 150px;
  overflow-y: auto;

  &.full {
    max-height: 380px;
    padding: 0 0 0 36px;
  }

  a {
    color: #262626;
    font-weight: 600;
  }

  span {
    padding-left: 10px;
  }

  .comments_item {
    padding: 10px 0 0 10px;
    display: flex;

    .delete__wrap {
      margin-left: auto;

      .delete__img {
        width: 10px;
        height: 10px;
      }
    }
  }
}
