.newPost__main__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 750px;
  margin: 45px auto;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;

  .newPost__leftColumn {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48%;

    .newPost__leftColumn__img {
      max-width: 240px;
    }

    .newPost__leftColumn__p {
      font-size: 22px;
      font-weight: 300;
      line-height: 26px;
      color: #262626;
      text-align: center;
    }
  }

  .newPost__rightColumn {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 52%;
    padding: 40px 0 0 0;
    border-left: 1px solid #dbdbdb;

    .space {
      padding: 0 15px;
      margin-bottom: 15px;
    }
  }
}

.newPost__leftColumn__fileInput {
  .input--file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .input--file--label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 10px 12px;
    background-color: #0095f6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);

    svg {
      height: 16px;
      margin-right: 8px;
    }
  }

  .input--file--label--line {
    cursor: pointer;
    color: #0095f6;
    font-size: 14px;
    font-weight: 600;
  }
}
