.profile__main {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 935px;

  .profile__header {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 45px 0;

    .profile__header__avatar {
      width: 300px;
      text-align: center;

      .profile__header__avatar_img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .profile__header__info {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .info__1st__line,
      .info__2nd__line,
      .info__3rd__line {
        display: flex;
        align-items: center;

        .info__a {
          margin: 0;
          padding: 0;
          font-size: 16px;
          line-height: 24px;
          color: #262626;

          &.bold {
            font-weight: 600;
          }

          &.desc {
            max-width: 605px;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          span {
            font-weight: 600;
            padding: 0 5px 0 0;
          }
        }
      }

      .info__1st__line {
        min-height: 40px;
        gap: 15px;

        .info__h2 {
          font-weight: 300;
          font-size: 28px;
          line-height: 32px;
          margin: 0;
        }

        .info__linkEdit {
          background-color: transparent;
          border: 1px solid #dbdbdb;
          color: #262626;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 600;
          padding: 5px 9px;
          text-align: center;
        }

        .info__iconEdit {
          width: 24px;
          height: 24px;
        }

        .info__follow,
        .info__unfollow {
          margin: 0 0 0 20px;
          font-family: inherit;
          font-size: 14px;
          line-height: 28px;
          border-radius: 3px;
          padding: 0 25px;
          border: none;
          color: #fff;
          font-weight: 600;

          &:hover {
            cursor: pointer;
          }
        }
        .info__follow {
          background: #0095f6;
        }

        .info__unfollow {
          background: #5b2700;
        }
      }

      .info__2nd__line {
        max-height: 24px;
        gap: 40px;
      }

      .info__3rd__line {
        flex-direction: column;
        align-items: flex-start;

        a {
          color: #00376b;
          font-weight: 600;
          line-height: 24px;
        }
      }
    }
  }

  .profile__nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-top: 1px solid #dbdbdb;

    .nav__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 54px;
      margin-top: -1px;

      &.active {
        border-top: 1px solid #262626;

        span {
          color: #262626;
        }
      }

      img {
        width: 12px;
        height: 12px;
      }

      span {
        color: #8e8e8e;
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-left: 6px;
        text-transform: uppercase;
      }
    }
  }

  .profile__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2%;

    &.d-none {
      display: none;
    }

    .post__wrap {
      width: 32%;
      height: auto;
      margin: 0 0 25px 0;
      background-color: #fff;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      display: flex;
      flex-direction: column;

      .post__image {
        height: 270px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .post__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        max-height: 35px;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.profile__edit {
  max-width: 935px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  margin: 30px auto;
  display: flex;
  justify-content: flex-start;

  .edit__nav {
    border-right: 1px solid #dbdbdb;

    .edit__menu {
      display: flex;
      flex-direction: column;
      width: 255px;

      .menu__item {
        list-style-type: none;
        padding: 16px 16px 16px 30px;
        white-space: nowrap;

        &.active {
          border-left: 2px solid #262626;
        }

        .item__link {
          color: #262626;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;

          &.active {
            font-weight: 600;
          }
        }
      }
    }
  }

  .edit__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;

    .line__wrap {
      width: 165px;
      text-align: end;
    }

    .form__head {
      display: flex;
      align-items: center;
      margin-top: 35px;
      gap: 35px;

      .head__avatar {
        width: 38px;
        height: 38px;
        object-fit: cover;
        border-radius: 50%;
      }

      .form__head__wrap {
        display: flex;
        flex-direction: column;

        .head__name {
          margin: 0;
          font-size: 20px;
          line-height: 22px;
          margin-bottom: 2px;

          &.solo {
            font-size: 24px;
            font-weight: 400;
            line-height: 38px;
          }
        }

        .head__link {
          color: #0095f6;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .form__main {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .form__item {
        display: flex;
        gap: 35px;
        align-items: center;

        &.pad {
          margin-top: 10px;
        }

        .label {
          color: #262626;
          font-size: 16px;
          font-weight: 600;
          line-height: 18px;
        }

        .edit__describe {
          width: 355px;
          margin: 0;
          color: #8e8e8e;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;

          span {
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}

.d-none {
  display: none;
}

#follow_block {
  display: flex;
  gap: 40px;
}
