.subs {
  margin: 30px auto;
  max-width: 935px;

  .subs__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    justify-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding: 30px 0;
  }
}

.subs__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  .subs__item__avatar {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
  }

  .subs__item__info {
    display: flex;
    flex-direction: column;

    .subs__item__username {
      margin: 0;
      color: #262626;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
    }

    .subs__item__description {
      margin: 0;
      color: #8e8e8e;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
