<header class="header">
  <div class="header__container">
    <div class="header__container__logo">
      <%= link_to image_tag('/images/logo.png', class: "header__container__logo__img"), root_path %>
    </div>

    <form class="header__container__search">
      <input type="search" name="text" class="input--search" placeholder="Поиск"/>
    </form>

    <nav class="header__container__nav">
      <ul class="header__container__list">
        <li class="header__container__list__item">
          <%= link_to image_tag('/icons/home_active.svg', class: "header__container__list__img"), root_path %>
        </li>

        <li class="header__container__list__item">
          <a href="new_post.html"
            ><img
              class="header__container__list__img"
              src="icons/new_post.svg"
              alt=""
          /></a>
        </li>
        <li class="header__container__list__item">
          <a href=""
            ><img
              class="header__container__list__img"
              src="icons/like.svg"
              alt=""
          /></a>
        </li>

        <% if user_signed_in? %>
          <li class="header__container__list__item">
            <%= link_to image_tag('/icons/logout.svg', class: "header__container__list__img"), destroy_user_session_path, method: :delete %>
          </li>
        <% end %>

        <li class="header__container__list__item">
          <a href="my_profile.html"
            ><img
              class="header__container__list__userAvatar"
              src="images/user_avatar.jpg"
              alt=""
          /></a>
        </li>
      </ul>
    </nav>
  </div>
</header>